<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about/about.css">
    <title>E-CELL</title>
</head>
<body>
        <nav>
          <button class="custom-btn btn"><a href="/"><span>Click</span><span>Home</span></a></button>
        </nav>

        <!-- E-CELL ABOUT PAGE -->
        <div class="ecell">
            <div class="section-1"><h1>E-CELL</h1>  <img class="images" src="/assets/ecell-logo.png" alt="logo"></div>
            <p id="ecell-para">
                The capacity and willingness to develop, organize and manage a business venture along
                with any of its risks in order to make a profit is what distinguishes businessman from
                an entrepreneur. E-Cell, NIT Silchar or Entrepreneurship Cell of National Institute of
                Technology, Silchar is a non-profit organization run by the students of NIT Silchar
                established with the aim to promote entrepreneurship and start-ups within the
                college. In a world where every man is a company himself by the virtue of his ideas, we
                thrive to develop the attitude of self-dependency among our college students. Keeping
                an aim of fostering nurturing the spirit of entrepreneurship in the youth of NIT Silchar,
                we at E-Cell, NIT Silchar have conceptualized and successfully implemented various initiatives
                to help students, young entrepreneurs and professionals in their entrepreneurial journey.
                <br>
                <br>
                <span id="bold">IEDC /IIC</span>
                <br>
                Ministry of Human Resource Development (MHRD), Govt. of India has established ‘MHRD’s
                Innovation Cell (MIC)’ to systematically foster the culture of Innovation amongst all Higher
                Education Institutions (HEIs). MIC has envisioned encouraging creation of ‘Institution’s
                Innovation Council (IICs)’ across selected HEIs. A network of these IICs will be established to
                promote innovation in the Institution through multitudinous modes leading to an innovation
                promotion eco-system in the campuses.
                The major focus of IIC is to create a vibrant local innovation ecosystem. Start-up supporting
                Mechanism in HEIs. Prepare institute for Atal Ranking of Institutions on Innovation
                Achievements Framework. Establish Function Ecosystem for Scouting Ideas and Pre-incubation
                of Ideas. Develop better Cognitive Ability for Technology Students.
                In May2010, Government of India under Ministry of Science and Technology has selected NIE for
                setting up Innovation and Entrepreneurship Development Cell (IEDC) with grant of Rs 48 lakhs.
                IEDC gives grants to five innovative student projects of Rs. one lakh each for five years.
                The primary mandate of IEDC is to encourage, inspire and nurture young students by supporting
                them to work with new ideas and transform them into prototypes while they are informative years.
            </p>
        </div>

        <!-- NIT ABOUT PAGE -->
        <div class="nit">
            <div class="section-1"><h1>About NITS</h1>  <img class="images" src="/assets/nit-logo.png" alt="logo"></div>
            <p id="nit-para">
                National Institute Of Technology, Silchar is one of the 31 National Institutes of Technology
                of India and was established in 1967 as a Regional Engineering College in Assam.
                In 2002 it was upgraded to the status of National Institute of Technology and was
                declared as Institute of National Importance under the National Institutes of Technology
                Act, 2007.
                <br>
                <br>
                NIT Silchar is a scenic delight. With 19 lakes across the campus, trees all around, breath
                taking view of the hills nearby, the 628-acre campus echoes serenity, smiting anyone visiting
                the campus.
                Boasting of Asia's largest digital library. NIT Silchar has well-maintained classrooms and labs
                with top-notch faculty teaching in them. The Hostels are well looked after with high-speed
                internet running 24/7. There are plenty of shops inside the campus, catering to the
                college needs.
                <br>
                <br>
                ‘As the clock striketh five, as the evening sun starts to set. The energy of the university will awaken’ ~NIT Silchar
                <br>
                <br>
                The campus comes alive every evening. The library is open for hard workers, The meeting
                points buzzes with people mellowing out, and the future tech moguls, rock stars, dancers,
                and athletes go about, motivated to do better that day. Everyone is a dreamer here,
                and dreams are not broken here, only nurtured to be realized. 
            </p>
        </div>
</body>
</html>