<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/scripts/home/appear-text-about.js"></script>
    <link rel="stylesheet" href="/stylesheets/home/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>E-CELL</title>
</head>
<body>
    <main id="swup" class="homepage transition-fade">
        <!-- NAVBAR -->
        <nav>
            <i>
                <a href="#title"><img src="/assets/ecell-logo-white-in.png" alt="logo"></a>
            </i>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#event">Events</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#connect">Connect</a></li>
            </ul>
        </nav>

        <!-- TITLE PAGE -->
        <div id="title" class="titlepage">
            <div class="svg">                    
                <svg id="title-svg" viewBox="0 0 960 300">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="80%">E-CELL</text>
                    </symbol>
                    <g class = "g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
                </svg> 
                <div class="nitsilchar">
                    <h3>NIT SILCHAR</h3>
                </div>                                                                
            </div>
            <div class="tag-line">
                <p>"We give your ideas wings to fly"</p>
            </div>
            <button class="scroll-down">
                <a href="#about">
                    <svg id="scroll-down-button" width="345" height="340" viewBox="0 0 345 340" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M334.5 170C334.5 257.945 262.115 329.5 172.5 329.5C82.8848 329.5 10.5 257.945 10.5 170C10.5 82.0546 82.8848 10.5 172.5 10.5C262.115 10.5 334.5 82.0546 334.5 170Z" stroke="black" stroke-width="21"/>
                        <path d="M162.454 227.546C167.726 232.818 176.274 232.818 181.546 227.546L267.459 141.632C272.731 136.36 272.731 127.813 267.459 122.541C262.187 117.269 253.64 117.269 248.368 122.541L172 198.908L95.6325 122.541C90.3604 117.269 81.8127 117.269 76.5406 122.541C71.2685 127.813 71.2685 136.36 76.5406 141.632L162.454 227.546ZM158.5 204V218H185.5V204H158.5Z" fill="black"/>
                    </svg>
                </a>              
            </button>
        </div>

        <hr class="horizontal-line">
        <!-- ABOUT PAGE -->
        <div id="about" class="aboutpage">
            <div class="about-section-1">
                <div class="about-us-text"><h1 class="text-gradient">About us</h1></div>
                <div class="about-svg">
                    <img src="/assets/illustration.svg" alt="illustration">
                </div>
            </div>
            <div class="about-section-2">
                <p class="intro-text-about ">
                    The capacity and willingness to develop, organize and manage a business venture along
                    with any of its risks in order to make a profit is what distinguishes businessman from
                    an entrepreneur. E-Cell, NIT Silchar or Entrepreneurship Cell of National Institute of
                    Technology, Silchar is a non-profit organization run by the students of NIT Silchar
                    established with the aim to promote entrepreneurship and start-ups within the college.
                </p>
                <button id="learn-more-about"><a href="/about">View more</a></button>
            </div>
        </div>

        <hr class="horizontal-line">
        <!-- EVENT PAGE -->
        <div id="event" class="eventpage">
            <div id="event-title">
                <h1 class="text-gradient">Events</h1>
            </div>
            <div class="cards-section">
                <div class="card1">
                    <div class="container">
                        <div class="card-container">
                            <div class="card">
                                <figure class="front">
                                    <h1>TECNOESIS</h1>
                                </figure>
                                <figure class="back">
                                    <ul>
                                        <li>Pitch Please</li>
                                        <li>If I were the CEO</li>
                                        <li>Bech Ke Dikhao</li>
                                        <li>Adovation</li>
                                        <li>Wolf of the Wall Street</li>
                                    </ul>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <button id="learn-more-tecnoesis"><a href="http://www.tecnoesis.org/" target="_blank">View more</a></button>
                </div>
                <div class="card2">
                    <div class="container">
                        <div class="card-container">
                            <div class="card">
                                <figure class="front">
                                    <h1>SRIJAN 1.0</h1>
                                </figure>
                                <figure class="back">
                                    <ul>
                                        <li>Guest Lectures</li>
                                        <li>Pitching Competition</li>
                                        <li>Board Room</li>
                                        <li>Business Model Canvas</li>
                                        <li>Stock Market Workshop</li>
                                        <li>Business Quiz</li>
                                        <li>IPL Auction</li>
                                        <li>Comedy Night</li>
                                    </ul>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <button id="learn-more-srijan"><a href="https://drive.google.com/file/d/1i9kLWk3yQDkaB602_s5JAPkNfhrzvcDY/view" target="_blank">View more</a></button>
                </div>
            </div>
        </div>

        <hr class="horizontal-line">
        <!-- TEAM PAGE -->
        <div id="team" class="teampage">
            <div id="team-title"><h1 class="text-gradient">Meet our Team</h1></div>
            <div id="people-card-section">
                <div class="team-section-1">
                    <div class="people-card">
                        <img src="/assets/teamImages/me.jpeg" alt="img">
                        <div class="designation"><span class="name team-text">Angshuman Dutta</span> <span class="team-text">Web Head</span></div>
                    </div>
                    <div class="people-card">
                        <img src="/assets/teamImages/1.jpg" alt="img">
                        <div class="designation"><span class="name team-text">Marzia Felix</span> <span class="team-text">Content Head</span></div>
                    </div>
                </div>
                <div class="team-section-2">
                    <div class="people-card">
                        <img src="/assets/teamImages/2.jpg" alt="img">
                        <div class="designation"><span class="name team-text">Colt Steele</span> <span class="team-text">Managing Head</span></div>
                    </div>
                    <div class="people-card">
                        <img src="/assets/teamImages/3.jpg" alt="img">
                        <div class="designation"><span class="name team-text">Rwanda Disky</span> <span class="team-text">Design Head</span></div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="horizontal-line">
        <!-- CONNECT PAGE -->
        <div id="connect" class="connectpage">
            <div class="newsletter">
                <h1 class="text-gradient">Newsletter</h1>
                <div class="parent-wrapper">
                    <span class="close-btn glyphicon glyphicon-remove"></span>
                    <div class="subscribe-wrapper">
                      <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
                      <input type="email" name="email" class="subscribe-input" placeholder="Your e-mail" autocomplete="off">
                      <div class="submit-btn">SUBMIT</div>
                    </div>
                  </div>
            </div>
            <div class="connect-links">
                <h1 class="text-gradient">Connect with us</h1>
                <div class="links">
                    <a href="https://github.com/AngshumanDutta/E-CELL-Website"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/ecell.nit.silchar/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/ecell-nit-silchar"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/srijan_nits/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/srijan_nits?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/watch?v=_sBEm_oJKCs"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>